/* Global Styles */
:root {
  --primary-color: #3498db;
  --secondary-color: #4b4b4b;
  --background-color: #ecf0f1;
  --text-color: #333;
  --hover-color: rgba(52, 152, 219, 0.2);
}
*{
  margin: 5px;
}
body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

/* Typography */
@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
}

h1, h2, h3, p {
  margin-bottom: 1rem;
}

/* Layout */
header {
  background-color: var(--primary-color);
  color: white;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1{
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  justify-content: center;
}

nav ul li {
  margin-right: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a::after {
  content: "";
  display: block;
  width: 115%;
  height: 2px;
  background: var(--background-color);
  color: var(--background-color);
  transition: all 0.2s;
  pointer-events: none;
  opacity: 0;
}

nav a:hover::after, nav a.active::after {
  opacity: 1;
}

/* Side Information */
#side-info {
  position: fixed;
  top: 50%;
  right: -05px;
  transform: translateY(0%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  text-align: center;
  
}

#side-info ul{
  list-style-type: none;
  padding-inline-start: 0; 
}

.hero-section {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-right: 5rem;
}

.hero-section .left img{
  margin-top: 2rem;
  margin-left: 5rem;
  width: 400px;
  border-radius: 15px;
}

.hero-section .hero-title{
  font-size: 75px;
}

.hero-section .hero-subTitle{
  font-size: 35px;
}

.hero-section .hero-buttons{
  display: flex;
}

.hero-buttons button{
  background-color: var(--primary-color);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.about-me h2{
  margin-top: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.contact-section{
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section .contact-text{
  font-size: 35px;
}

.contact-section button{
  background-color: var(--primary-color);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

/* Blog Posts */
article {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

article h2 {
  font-weight: bold;
  color: var(--secondary-color);
}

article time {
  color: var(--primary-color);
  font-size: 0.9em;
  margin-top: 1rem;
}

.blogs-section{
  margin-bottom: 3rem;
}

.blogs-section span{
  margin-top: 1rem;
  font-size: 45px;
  display: flex; 
  justify-content: center
}

.blogs {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.blogs article{
  transform: translateY(0%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 30%;
}

.blogs img{
  width: 50%;
  border-radius: 15px;
  margin: 1rem;
}

.blogs button{
  background-color: var(--primary-color);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

/* Contact Form */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

form {
  text-align: center;
  margin-bottom: 2rem;
}

form .Form-Header{
  margin-top: 1rem;
  margin-bottom: 3rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: var(--primary-color);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: var(--hover-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  #side-info {
      position: static;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
  }
}
